
<!doctype html>
<html lang="en">
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../../../favicon.ico"> -->

    <title>Akhil blog</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Bootstrap core CSS -->
   

    <!-- Custom styles for this template -->
    <!--<link href="album.css" rel="stylesheet">-->
  </head>

  <body>

    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand active" href="{% url 'home' %}">Akhil</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="http://linkedin.com/in/deshneni-akhil070" target="_blank">Linkedin</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% static 'Resume.pdf' %}">Resume</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'blog' %}">Blog</a>
              </li>
              
            </ul>
          </div>
        </nav>
  </header>

    <main role="main">
        <div class='container'>     
        <h1 class="text-center pt-3">{{blog.title}}</p></h1>
         <!-- <hr /> -->
         <p class="lead">{{blog.time}}</p>

         <img class="img-fluid" style="position: relative; z-index: 3;  width: 100%; height: 564px; background-position: 50% 50%; background-repeat:
         no-repeat; overflow-x: hidden; background-size: cover;" src="{{ blog.image.url }}" alt="Card image cap" width="800" height="430" />
         &nbsp;
         <p style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial">{{blog.body}}</p>
        
    </div>

    </main>

    <footer class="text-muted">
      <div class="container text-center">
        <p> &copy; Deshneni Akhil {% now "Y" %} </p>
        
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <!-- <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script> -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script> -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
